In [1]:
# Q1  Why numpy is better then list?
# Answer-1.
#	    NumPy is able to divide a task into multiply subtasks and process them parallelly.
#	    And there are also two reason to use numpy instead of list are:
#									    The numpy consumes less memory than list.
#									    The numpy array is faster then list.

In [2]:
import numpy as np

In [3]:
# Q2  How do you check size shape and demension of an array?
# Ans.2 
a=np.array([[1,2,3],[4,5,6],[7,8,9]])
a
# (for check size)
a.size
# (For check shape)
a.shape
# (for check demension)
a.ndim

2

In [4]:
# Q3

In [8]:
# Q4  How do you create a user define array?
# Ans.4 
a=[]
size=int(input("Enter size:"))
for i in range(size):
    val=int(input("Enter item:"))
    a.append(val)
b=np.array(a)
b

Enter size: 1
Enter item: 1

array([1])

In [9]:
# Q5. Diff bw series and dataframe def with example
# series:-
#          it is use for one deminsional data.
#          it shows value of column and not show the column name
#          it is immutable
#          functionality is less
#          each element have a uniwue id
import pandas as pd
a=pd.Series([1,2,3,4,5])
a
# dataframe:-
#            it is use for multidemensional data.
#            it shows the value of of column and also show the column name.
#            it is mutable
#            functionality is more
#            The DataFrame has three main components: the data, which is stored in rows and columns; 
#            the rows, which are labeled by an index; and 
#            the columns, which are labeled and contain the actual data.
a={
    'Name':['Devesh','Lakshit','Ayush','Lokseh'],
    'Course':['Jango','Jango','Jango','AWS'],
    'City':['Sikar','Baran','Kotputli','Nagor']

}
df=pd.DataFrame(a)
df

      Name Course      City
0   Devesh  Jango     Sikar
1  Lakshit  Jango     Baran
2    Ayush  Jango  Kotputli
3   Lokseh    AWS     Nagor

In [11]:
#6
import pandas as pd
import numpy as np

# create dataframe with missing values
data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 2, 3, 4, 5],
    'C': [1, 2, 3, np.nan, 5],
    'D': [1, 2, 3, 4, 5]
}
df = pd.DataFrame(data)
print(df)

print("  ")
# remove rows with missing values
df.dropna(inplace=True)
print(df)
print(" ")



import pandas as pd
import numpy as np

# create dataframe with missing values
data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 2, 3, 4, 5],
    'C': [1, 2, 3, np.nan, 5],
    'D': [1, 2, 3, 4, 5]
}
df = pd.DataFrame(data)
print(df)
print("  ")
# replace missing values with 0
df.fillna(value=0, inplace=True)
print(df)

     A    B    C  D
0  1.0  NaN  1.0  1
1  2.0  2.0  2.0  2
2  NaN  3.0  3.0  3
3  4.0  4.0  NaN  4
4  5.0  5.0  5.0  5

     A    B    C  D
1  2.0  2.0  2.0  2
4  5.0  5.0  5.0  5

     A    B    C  D
0  1.0  NaN  1.0  1
1  2.0  2.0  2.0  2
2  NaN  3.0  3.0  3
3  4.0  4.0  NaN  4
4  5.0  5.0  5.0  5

     A    B    C  D
0  1.0  0.0  1.0  1
1  2.0  2.0  2.0  2
2  0.0  3.0  3.0  3
3  4.0  4.0  0.0  4
4  5.0  5.0  5.0  5

In [ ]:
# Q7  Diff bw describe and info method 
#     Describe:-
#                Statical view of our data.
                 # Exclude non-numeric data
#     Info:-
#                Datatype information
                 # Include both numeric and non-numeric data.
df = pd.read_csv("C:\\Users\\deves\\Desktop\\covid_toy.csv")

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
# Q8  Diff bw loc amd iloc method in pandas
# Ans. loc:-loc is used for indexing and we can access multiple columns.
#           we include start and end position in loc.
            # it is used for slicing.
            # we can use row and column or both to select data.
#      Iloc:- it is use for indexing .
                # it is also used for slicing the dataset
                # it is not include end value when we slice the datsset

In [ ]:
#Q9

In [12]:
# Q10. Merge:- The merge() function is used to combine two DataFrames based on one or more keys.
#           It allows you to perform inner, outer, left, and right joins.
#           It's typically used when we want to combine DataFrames based on common columns.

# Concat==> The concat() function is used to concatenate two or more DataFrames along rows or columns.
#           It does a simple concatenation, stacking DataFrames either vertically (along rows) or horizontally (along columns).
#           It's typically used when we want to combine DataFrames with the same columns or indexes.
# Concat
df3 = pd.DataFrame({'A': ['A0', 'A1', 'A2']})
df4 = pd.DataFrame({'B': ['B0', 'B1', 'B2']})
df_concat = pd.concat([df3, df4], axis=1)
print(df_concat)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2

In [ ]:
# Q11. To rename a column in a Pandas DataFrame, you can use the rename() method. 
import pandas as pd
a= {'y': [10, 11, 12], 'z': [13,14,15]}
df = pd.DataFrame(a)
# print(df)
df.rename(columns={'y': 'X'},inplace=True)
print(df)

In [ ]:
# 12)
import pandas as pd

# Creating the DataFrame
data = {
    'emp_id': [1, 2, 3, 4],
    'emp_name': ['Lakshit', 'Ayush', 'Saniya', 'Mansi'],
    'department': ['Sales', 'IT', 'Operations', 'Sales'],
    'working_hours': [40, 38, 45, 50],
    'Salary': [50000, 60000, 55000, 70000]
}
df = pd.DataFrame(data)

# Update 2 employees' salary and working hours
df.loc[df.emp_id == 1, 'Salary'] = 52000
df.loc[df.emp_id == 2, 'Salary'] = 62000
df.loc[df.emp_id == 3, 'working_hours'] = 42
df.loc[df.emp_id == 4, 'working_hours'] = 48

print(df)
print ("   ")
# Create new columns for departments
df['Sales'] = df['department'].apply(lambda x: 1 if x == 'Sales' else 0)
df['IT'] = df['department'].apply(lambda x: 1 if x == 'IT' else 0)
df['Operations'] = df['department'].apply(lambda x: 1 if x == 'Operations',
                                                      else 0)
print(df)

In [19]:
#Q14  Diff bw descrete data and continues data 
# Discrete data:-  Discrete data consists of separate, distinct values with no meaningful order or continuous sequence between them.
#                  Examples include integers, categories, or any data that can be counted or enumerated.
#                  In Pandas, discrete data is typically represented using integer or categorical data types.

# Continues data:- Continuous data represents measurements or values that can take on any value within a certain range.
#                  There is a continuous sequence of possible values between any two points.
#                  Examples include real numbers, measurements like height, weight, temperature, etc.
#                  In Pandas, continuous data is often represented using floating-point data types.

In [ ]:
# Ans 15
#==> Bar Chart:

# Useful for comparing numerical values across different categories.
#==> Box Plot:

# Shows the median, quartiles, and possible outliers.
#==> Scatter Plot:

# Useful for visualizing the relationship between two numerical variables across different categories.


# ==>Histogram:

# Suitable for visualizing the distribution of numerical data within different categories.