In [4]:
# Q1  Why numpy is better then list?
# Answer-1.
#	    NumPy is able to divide a task into multiply subtasks and process them parallelly.
#	    And there are also two reason to use numpy instead of list are:
#									    The numpy consumes less memory than list.
#									    The numpy array is faster then list.

In [6]:
import numpy as np

In [24]:
# Q2  How do you check size shape and demension of an array?
# Ans.2 
a=np.array([[1,2,3],[4,5,6],[7,8,9]])
a
# (for check size)
a.size
# (For check shape)
a.shape
# (for check demension)
a.ndim

2

In [ ]:
# Q3

In [12]:
# Q4  How do you create a user define array?
# Ans.3 
a=[]
size=int(input("Enter size:"))
for i in range(size):
    val=int(input("Enter item:"))
    a.append(val)
b=np.array(a)
b

Enter size: 5
Enter item: 1
Enter item: 2
Enter item: 3
Enter item: 4
Enter item: 5

array([1, 2, 3, 4, 5])

In [19]:
# Q5. Diff bw series and dataframe def with example
# series:-
#          it is use for one deminsional data.
#          it shows value of column and not show the column name
#          it is immutable
#          functionality is less
#          each element have a uniwue id
import pandas as pd
a=pd.Series([1,2,3,4,5])
a
# dataframe:-
#            it is use for multidemensional data.
#            it shows the value of of column and also show the column name.
#            it is mutable
#            functionality is more
#            The DataFrame has three main components: the data, which is stored in rows and columns; 
#            the rows, which are labeled by an index; and 
#            the columns, which are labeled and contain the actual data.
a={
    'Name':['Devesh','Lakshit','Ayush','Lokseh'],
    'Course':['Jango','Jango','Jango','AWS'],
    'City':['Sikar','Baran','Kotputli','Nagor']

}
df=pd.DataFrame(a)
df

      Name Course      City
0   Devesh  Jango     Sikar
1  Lakshit  Jango     Baran
2    Ayush  Jango  Kotputli
3   Lokseh    AWS     Nagor

In [26]:
# Q7  Diff bw describe and info method 
#     Describe:-
#                Statical view of our data.
                 # Exclude non-numeric data
#     Info:-
#                Datatype information
                 # Include both numeric and non-numeric data.
df = pd.read_csv("C:\\Users\\deves\\Desktop\\covid_toy.csv")

In [29]:
df.describe()

              age       fever
count  100.000000   90.000000
mean    44.220000  100.844444
std     24.878931    2.054926
min      5.000000   98.000000
25%     20.000000   99.000000
50%     45.000000  101.000000
75%     66.500000  102.750000
max     84.000000  104.000000

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   gender     100 non-null    object
 2   fever      90 non-null     float64
 3   cough      100 non-null    object
 4   city       100 non-null    object
 5   has_covid  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [31]:
# Q8  Diff bw loc amd iloc method in pandas
# Ans. loc:-loc is used for indexing and we can access multiple columns.
#           we include start and end position in loc.
            # it is used for slicing.
            # we can use row and column or both to select data.
#      Iloc:- it is use for indexing .
                # it is also used for slicing the dataset
                # it is not include end value when we slice the datsset

In [32]:
#Q9

In [33]:
# Q10. Merge:- The merge() function is used to combine two DataFrames based on one or more keys.
#           It allows you to perform inner, outer, left, and right joins.
#           It's typically used when we want to combine DataFrames based on common columns.

# Concat==> The concat() function is used to concatenate two or more DataFrames along rows or columns.
#           It does a simple concatenation, stacking DataFrames either vertically (along rows) or horizontally (along columns).
#           It's typically used when we want to combine DataFrames with the same columns or indexes.

In [39]:
# Q11. To rename a column in a Pandas DataFrame, you can use the rename() method. 
import pandas as pd
a= {'y': [10, 11, 12], 'z': [13,14,15]}
df = pd.DataFrame(a)
# print(df)
df.rename(columns={'y': 'X'},inplace=True)
print(df)

    X   z
0  10  13
1  11  14
2  12  15

In [ ]:
#Q14  Diff bw descrete data and continues data 
# Discrete data:-  Discrete data consists of separate, distinct values with no meaningful order or continuous sequence between them.
#                  Examples include integers, categories, or any data that can be counted or enumerated.
#                  In Pandas, discrete data is typically represented using integer or categorical data types.

# Conitu