In [20]:
# Population ====> All the dataset  Ex. Country
# Sample ====> Sub data of a dataset Ex. City
# Noraml Distribution ====> from central tendancy , we have equal data from lest and right side.
# Central Tendancy ====> mean, median, mode
# mean = sum of total elements / frequency (count) of elements
a = 1,2,3,4,5
# mean = (1+2+3+4+5)/5 = 15/5 = 3

#median = sort ===> even = n/2 odd n+1/2

a = 1,4,2,3,5

#median = 1,2,3,4,5

# odd = 5+1/2 6/2 = 3 rd number ===> median = 3

# mode ==> most frequent values

a = 1,2,2,3,2,5
# mode = 2

# standard deviation ===> central tendancy ==> gap of next value.

# Normal distributed ===> mean = 0 std = 1

In [21]:
# Machine Learning Workflow

# Data(Gather) ==> Data Preprcessing(Normal Distribution ==>
# ML Algorithms ==> Prediction ==>Performance Evaluation

### Data Preprocessing ==>
### (1). Standardization ==> mean = 0, standard deviation=1

In [22]:
# data ==> Independent data(x) , Dependent data(y)
# (x) ==> X.train , X_test
# (y) ==> y_train ,y_test

In [23]:
#machine(training data) ==> Prediction (Testing data)

In [24]:
import numpy as np
import pandas as pd

In [25]:
df=pd.read_csv("C:\\Users\\deves\\Desktop\\placement.csv")

In [26]:
df.head(2)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0

In [27]:
x=df.drop(columns=['placed'] , axis = 1) ### independent data
type(x)

pandas.core.frame.DataFrame

In [28]:
x.head(2)

   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17

In [29]:
y=df['placed'] ### Dependent or target data

In [30]:
print("Total data shape= H ", df.shape)
print("Independent data shape", x.shape)
print("Dependent data shape", y.shape)

Total data shape= H  (100, 3)
Independent data shape (100, 2)
Dependent data shape (100,)

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [33]:
print("Total data shape=" ,df.shape)
print("Independent data shape= ", x.shape)
print("Dependent data shape = ", y.shape) 
print("X_train data shape=", x_train.shape)
print("X_test data shape", x_test.shape)

Total data shape= (100, 3)
Independent data shape=  (100, 2)
Dependent data shape =  (100,)
X_train data shape= (80, 2)
X_test data shape (20, 2)